{% if record.screenshots %}
    {% if record.screenshots is iterable %}
        {% set screenshots = record.screenshots %}
    {% else %}
        {% set screenshots = [record.screenshots] %}
    {% endif %}

    {% if screenshots|first.value|first %}
            <figure class="image">
                {% set imageUrl = record.repository|replace({'github.com': 'raw.githubusercontent.com'}) ~ '/master/' ~ screenshots|first.value|first %}
                <a href="{{ imageUrl }}">
                    <img src="{{ imageUrl }}" alt="Screenshot of {{ record|title }}"
                         style="width: 300px; border:1px solid #CCC; margin-right: 1rem;">
                </a>
            </figure>

    {% endif %}
{% endif %}