<footer>
    <nav class="footer-nav">
        <p>
            &copy; {{ "now"|date("Y") }} &bullet;
            {{ __('general.phrase.built-with-bolt', {'%url%':'https://bolt.cm'}) }}
        </p>
    </nav>
</footer>
{% block javascripts %}
    <script src="{{ asset('js/vendor/header-dropdown.js', 'theme') }}"></script>
{% endblock javascripts %}
