
<article role="article" class="media">
    <div class="media-content">

            <h3><a href="{{ record|link }}">{{ record|title }}</a></h3>

            <p>{{ record.description }}</p>

            <p class="meta">

                {% if record.packagist_type == 'bolt-theme' %}
                    <span class="tag is-theme">Theme</span>
                {% else %}
                    <span class="tag is-extension">Extension</span>
                {% endif %}

            </p>
            <p class="date">Updated: {{ record.time_updated|localedatetime("%B %e, %Y") }}</p>


    </div>
    <div class="media-right column">
        {% include 'partials/_screenshots.twig' with {'record': record} %}
    </div>

</article>
